.allergy-display {
  width: 85%;
  margin: 0 auto;
  padding: 2em 0;

  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;

  &_none {
    margin-top: 8rem;
    text-align: center;
  }
}
