<form
  class="container allergy-input"
  (ngSubmit)="onSubmit(); inputAllergy.value = null"
  [formGroup]="allergyForm"
>
  <label class="allergy-input_label" for="allergy"
    >List your allergies here:</label
  >
  <div class="flex allergy-input_wrapper">
    <input
      #inputAllergy
      type="text"
      class="allergy-input_input"
      formControlName="allergy"
      id="allergy"
      placeholder="Kinda die if I eat..."
    />
    <button class="allergy-input_btn" type="submit">+</button>
  </div>
  <span
    class="allergy-input_invalid-msg"
    *ngIf="
      allergyForm.get('allergy').invalid && allergyForm.get('allergy').touched
    "
    >Are you sure you don't have any?</span
  >
</form>

<div class="container allergy-input">
  <label for="" class="allergy-input_label">Are you...?</label>
  <div class="allergy-input_wrapper allergy-input_wrapper--checkbox">

    <div class="allergy-input_checkbox-wrapper">
      <input (click)="onClick($event)" type="checkbox" id="coeliac" name="coeliac" [checked]="coeliacCheckbox"/>
      <label for="coeliac"><span></span>Coeliac</label>
    </div>

    <div class="allergy-input_checkbox-wrapper">
      <input (click)="onClick($event)" type="checkbox" id="vegan" name="vegan" [checked]="veganCheckbox"/>
      <label for="vegan"><span></span>Vegan</label>
    </div>
    <div class="allergy-input_checkbox-wrapper">
      <input (click)="onClick($event)" type="checkbox" id="vegeterian" name="vegeterian" [checked]="vegeterianCheckbox"/>
      <label for="vegeterian"><span></span>Vegetarian</label>
    </div>
    <div class="allergy-input_checkbox-wrapper">
      <input (click)="onClick($event)" type="checkbox" id="pescatarian" name="pescatarian" [checked]="pescatarianCheckbox"/>
      <label for="pescatarian"><span></span>Pescatarian</label>
    </div>
  </div>
</div>
