<div class="signin container">
  <form class="signin_form">
    <h1 class="signin_title">Sign In</h1>
    <div class="signin_input-wrapper">
      <label for="username" class="signin_label">User</label>
      <input name="username" id="username" type="text" class="signin_input"
      autocomplete="off"/>
    </div>
    <div class="signin_input-wrapper">
      <label for="password" class="signin_label">Password</label>
      <input id="password" name="password" type="password" class="signin_input" autocomplete="off"
      />
    </div>
    <a routerLink="/dashboard" class="signin_submit">Sign in</a>
  </form>
</div>
