<div *ngIf="!isLoading" class="container input-picture">
  <div >
    <h2 class="input-picture_heading">See if you can eat...</h2>
    <button [ngStyle]="isWebcam && {'display': 'none'}" class="input-picture_btn" (click)="onWebcam($event)">
      {{ headingText }}
    </button>

    <div *ngIf="isWebcam" class="webcam">
      <webcam
        class="webcam_image"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
        [height]=""
      ></webcam>
      <!-- Snapshot Div where image will be shown -->
    </div>
    <!-- Button Takes Photo -->
      <div class="snapshot" *ngIf="!isWebcam && webcamImage">
        <!-- <h2>Take your image or get another</h2> -->
        <img class="snapshot_image" [src]="webcamImage.imageAsDataUrl" />
      </div>
    <button class="actionBtn input-picture_btn" (click)="triggerSnapshot()" *ngIf="isWebcam">Take A Snapshot</button>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-results *ngIf="!isWebcam && !isLoading &&!isFirstTime"></app-results>

