.allergy-display {
  margin: 0 auto;
  padding: 2em 0;

  display: flex;
  flex-wrap: wrap;

  &_none {
    margin: 3rem 0;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .allergy-display {
    // justify-content: space-evenly;

    &_none {
      margin: 8rem 0;
    }
  }
}
